
* {
 
 margin: 0;
 
}

a {
  text-decoration: none;
  color: #DFDFDF;
}

.App {
  text-align: left;
  background-color: #5b83cdb7;
   
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #DFDFDF;
  
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.banner {
  padding: 60px 0;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  text-align: center;
  align-items: center;
  padding-left: 150px;
  color: #DFDFDF;
  text-shadow:
   -1px -1px 0  #4d6fafb7,  
    1px -1px 0  #5b83cdb7,
    -1px 1px 0  #5b83cdb7,
     1px 1px 0  #5b83cdb7;
}

.banner h1 {
  padding-left: 20px;
  font-size: 40px;
}

.navOptions {
  padding-right: 100px;
  list-style: none;
  display: flex;
  justify-content: space-between;
  
}

.navOptions li {
  padding-left: 40px;
  font-size: 25px;
}


.foot {
   
   display: flex;
    justify-content: center;
    font-size: 22px;
    padding-bottom: 15px;
    padding-top: 45px;
}

.aboutMe {
  
   padding: 10px 70px;
  
}
.aboutTitle {
  font-size: 50px;
   display:flex;
   flex-wrap: wrap;
   justify-content: center;
   align-items: center;
   
}

.aboutTitle h3 {
  font-size: 70px;
   display: inline-flex;
   align-items: center;
   color: #2F3061;
   border-bottom: 2px solid #2F3061;
   margin-bottom: 20px;
}

.portfolio {
  padding-top: 20px;
   display:flex;
   flex-wrap: wrap;
   justify-content: center;
   align-items: center;
   
}

.portfolio h3 {
   font-size: 80px;
   display: inline-flex;
   align-items: center;
   color: #2F3061;
   border-bottom: 2px solid #2F3061;
   margin-bottom: 20px;
}


.profile  {
   display: flex;
   flex-wrap: wrap;
 align-items: center;
 margin-top: 30px;
 margin-bottom: 30px;
  width: 20%;
 border: 6px solid #2F3061 ;
}

.pics {
  display: flex;
   flex-wrap: wrap;
   justify-content: space-evenly;
   
}

.aboutDes {
  font-size: 27px;
  
}
.contact-page {
  height: max-content;
   margin-right: auto;
  margin-left: auto;
  padding-top: 20px;
}

.contact-title {
 display:flex;
   flex-wrap: wrap;
   justify-content: center;
   align-items: center;
}

.contact-title h1 {
  
  display: inline-flex;
  justify-content: center;
  font-size: 80px;
  color: #2F3061;
  border-bottom: 2px solid #2F3061;
   
}

.contact-boxes{
  display: flex;
  justify-content: center;
  font-size: 25px;
  padding-bottom: 160px;
  padding-top: 10px;
}

#contact-form {
  width: 35%;
}

#contact-form input {
  height: 20px;
  width: 100%;
  margin-top: 15px;
  margin-bottom: 15px;
}

#contact-form label {
  padding-right: 10px;
}


#contact-form textarea {
height: 250px;
width: 100%;
margin-right: 25px;
}

.submitButton {
  background-color: #2F3061;
  color: #ffffff;
  margin-top: 10px;
  border-style: none;
  font-size: 40px;
  border-radius: 5px;
  padding: 5px 15px;
}

.linkedIn {

  padding-left: 15px;
  padding-right: 15px;
}

.linkedIn:hover, .facebook:hover, .github:hover {
    z-index: 100;
    opacity: 0.7;
}



.proj-thumbnail {
  position: absolute;
  
}

.container h4 {
  text-align: center;
  padding-top: 25px;
  font-size: 50px;
  color: #ffffff;
    text-shadow:
   -1px -1px 0  #000a68b7,  
    1px -1px 0  #000a68b7,
    -1px 1px 0  #000a68b7,
     1px 1px 0  #000a68b7;
}

.container p {
 
  font-size: 40px;
  color: #ffffff;
  margin-bottom: 140px;
  text-align: center;
}

.container {
  position: relative;
  background-color: #5B82CD;
  width: 477px;
  height: 234px;
  margin-right: 60px;
  margin-left: 60px;
  margin-top: 30px;
  margin-bottom: 10px;
  border: 7px solid #2F3061 ;
  z-index: 0;
}


.projects{
  display: flex;
  flex-wrap: wrap;
  padding-left: 40px;
  
  padding-bottom: 50px;
}

.proj-thumbnail:hover {
  opacity: 0.06;
  z-index: 0;
}

.githubProj {
  padding-left: 60px;
  margin-top: 30px;
}

.linkProj {
  padding-left: 10px;
}

.githubProj:hover, .linkProj:hover {
  opacity: 0.7;
}

.resume {
  padding-top: 30px;
  padding-bottom: 20px;
  
}

.resume-page {
  display: flex;
   flex-wrap: wrap;
   flex-direction: column;
  
  margin-left: auto;
  margin-right: auto;
   text-align: center;
   width: 35%;
  
}
 
.download-button {
   font-size: 30px;
   padding-bottom: 20px;
   color: #2F3061;
  
   
}

.resume-container li {
 display: inline-flex;
 padding-left: 20px;
 font-size: 25px;
 padding-top: 20px;
}

.proficiencies h4 {
  display: inline-flex;
  padding-top: 30px;
  font-size: 70px;
  color: #2F3061;
  border-bottom: 2px solid #2F3061;
}



@media screen and (max-width: 768px) {

   .App {
      width: min-content;
    }

    
  
}



/* MEDIA QUERY FOR MOBILE PHONES AND SMALLER */

  @media screen and (max-width: 575px) { 

  .banner {
    flex-direction: column;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 35px;
  }

  .banner h1 {
    font-size: 50px;
    padding-left: 0px;
  }

    .navOptions {
    padding-top: 25px;
    padding-right: 20px;
    font-size: 50px;
  }

   .navOptions li {
    font-weight: 500;
    font-size: 30px;
  }

.contact-page {
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    padding-top: 20px;
}

  #contact-form {
  width: 70%;
  min-height: 800px;
  }

  .contact-boxes{
  font-size: 40px;
 
  } 

  #contact-form input {
  height: 40px;
  font-size: 30px;

}

#contact-form textarea {
height: 400px;
width: 100%;
margin-right: 25px;
font-size: 30px;
}

.submitButton {

  margin-top: 10px;
  border-style: none;
  font-size: 50px;
  border-radius: 5px;
 margin-left: 130px;

}
 
.App {
      width: min-content;
      height: max-content;
    }

.aboutTitle {
      text-align: center;
      display: block;
    }


    
.pics {
      margin: 15px 0;
    }

.aboutDes {
      text-align: center;
    }


.profile {
      margin: 10px 30px;
       width: 60%;
    }

.projects {
  justify-content: center;
  padding: 20px 0 ;
}


.githubProj {

  margin-top: 0px;
}

.links {
  display: flex;
  padding-right: 40px;
  justify-content: center;
}

.resume-container img {
     
     width: 90%;
  }

.resume-page {
     
    width: 100%;
  }



  .download-button {
    margin-right: 70px;
  }

  }

 

